attrs==25.4.0
blinker==1.9.0
click==8.1.8
dotenv==0.9.9
Flask==3.1.2
Flask-json-schema==0.0.5
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
python-dotenv==1.2.1
referencing==0.36.2
rpds-py==0.27.1
typing_extensions==4.15.0
Werkzeug==3.1.4
zipp==3.23.0
