<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{ entreprise.nom }} - CRM minimal</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>{{ entreprise.nom }}</h1>
    <div>
      <a href="/entreprises">Retour</a>
    </div>
    <div>
      <h2>Interactions</h2>
      <div>
        <a href="/entreprise/{{ entreprise.id }}/nouvelle-interaction">Ajouter une interaction</a>
      </div>
      {% if not interactions %}
        <div>
          <p>Aucune interaction avec cette entreprise.</p>
        </div>
      {% else %}
        {% for each in interactions %}
          <div>
            <p>Interaction le {{ each.moment }}</p>
            <p>{{ each.description }}</p>
          </div>
          <hr width="50%">
        {% endfor %}
      {% endif %}
      <h2>Rappels</h2>
      <div>
        <a href="/entreprise/{{ entreprise.id }}/nouveau-rappel">Ajouter un rappel</a>
      </div>
      {% if not rappels %}
        <div>
          <p>Aucun rappel pour cette entreprise.</p>
        </div>
      {% else %}
        <table>
          <thead>
            <tr>
              <th>Activation</th>
              <th>Note</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for each in rappels %}
              <tr>
                <td>{{ each.activation }}</td>
                <td>{{ each.note }}</td>
                <td>Terminé</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </body>
</html>
