{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-1 mt-3"></div>
		<div class="col-10 mt-4"> 
			<h1 class="mt-3 mb-4 text-center">Ajouter une entreprise</h1>
				<div class="">
					<form action="/nouvelle-entreprise" method="POST" class="row gx-3 gy-2 align-items-center" >

						<div class="row g-3 ">
							{% if result and not result["is_valid"] %}
								<div>
									<p style="color:red">Une erreur s'est produite lors du traitement de votre requête.</p>
										{% for each in result["global_errors"] %}
											<p style="color:red">{{ each }}</p>
										{% endfor %}
									</div>
								{% endif %}
							<div class="col-12 col-md-8 d-flex align-items-center">
								<label for="entreprise-nom" class="mb-0 me-2 text-nowrap fw-bold">Nom de l'entreprise : </label>
								<input type="text" id="entreprise-nom" name="nom" class="form-control">
							</div>
						</div>


	<div>
		<input type="submit" class="btn btn-primary mt-3" value="Ajouter">
	</div>
	</form>
	</div>
	<div class="col-1 mt-3"></div>
	</div>
	</div>
{% endblock %}
