<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Ajouter une entreprise - CRM minimal</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Ajouter une entreprise</h1>
    <form action="/nouvelle-entreprise" method="POST">
      {% if result and not result["is_valid"] %}
      <div>
        <p>Une erreur s'est produite lors du traitement de votre requête.</p>
        {% for each in result["global_errors"] %}
          <p style="color:red">{{ each }}</p>
        {% endfor %}
      </div>
      {% endif %}
      <div>
        <label for="entreprise-nom">Nom de l'entreprise : </label>
        <input type="text" id="entreprise-nom" name="nom">
      </div>
      <div>
        <input type="submit" value="Ajouter">
      </div>
    </form>
  </body>
</html>
