{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>{{ entreprise.nom }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="/entreprises">Retour</a>
    </div>
  </div>
  <div class="row below-subtitle">
    <div class="col-sm-7">
      <div>
        <h2 class="title-with-add">Interactions</h2>
        <a class="btn btn-primary btn-sm beside-title" href="/entreprise/{{ entreprise.id }}/nouvelle-interaction">+</a>
      </div>
      {% if not interactions %}
        <div>
          <p>Aucune interaction avec cette entreprise.</p>
        </div>
      {% else %}
        {% for each in interactions %}
          <div>
            <p>
              <small>
                <em>
                  Interaction le <strong>{{ each.moment }}</strong>.
                </em>
              </small>
            </p>
            <p class="interaction">{{ each.description }}</p>
          </div>
          <hr class="text-center">
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-sm-5">
      <div>
        <h2 class="title-with-add">Rappels</h2>
        <a class="btn btn-primary btn-sm beside-title" href="/entreprise/{{ entreprise.id }}/nouveau-rappel">+</a>
      </div>
      {% if not rappels %}
        <div>
          <p>Aucun rappel pour cette entreprise.</p>
        </div>
      {% else %}
        <table class="table">
          <thead>
            <tr>
              <th>Activation</th>
              <th>Note</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for each in rappels %}
              <tr>
                <td>{{ each.activation }}</td>
                <td>{{ each.note }}</td>
                <td><a href="/rappel/{{ each.id }}?entreprise={{ entreprise.id }}">Retirer</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
