{% extends "layout.html" %}
{% block content %}
    <h1>Rapports</h1>
    <div>
      <p>Résumé des événements de la journée</p>
      <form action="/resume-quotidien" method="get">
        <label for="resume-quotidien-date">Date : </label>
        <input type="date" id="resume-quotidien-date" name="date">
        <input type="submit" value="Envoyer">
      </form>
    </div>
    <hr>
    <div>
      <p>Résumé des événements depuis une date</p>
      <form action="/resume-depuis" method="get">
        <label for="resume-depuis-date">Date : </label>
        <input type="date" id="resume-depuis-date" name="date">
        <input type="submit" value="Envoyer">
      </form>
    </div>
{% endblock %}
